<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mail_in_rebate_status.name %>
</p>


<%= link_to 'Edit', edit_mail_in_rebate_status_path(@mail_in_rebate_status) %> |
<%= link_to 'Back', mail_in_rebate_statuses_path %>
