<% provide(:title, 'Products') %>
<h1>Products</h1>
<p>Below is the list of products we are working on:</p>

<h2>Shopping</h2>
<ul>
	<li>Shopping History</li>
	<li>Profile Based Shopping</li>
</ul>
<h2>Mobile Apps</h2>
<ul>
	<li>Party Games App</li>
	<li>Employee Lookup App</li>
</ul>