<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purchase_status.name %>
</p>


<%= link_to 'Edit', edit_purchase_status_path(@purchase_status) %> |
<%= link_to 'Back', purchase_statuses_path %>
