<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exchange_duration_type.name %>
</p>


<%= link_to 'Edit', edit_exchange_duration_type_path(@exchange_duration_type) %> |
<%= link_to 'Back', exchange_duration_types_path %>
