<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purchase_item_status.name %>
</p>


<%= link_to 'Edit', edit_purchase_item_status_path(@purchase_item_status) %> |
<%= link_to 'Back', purchase_item_statuses_path %>
