<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @return_duration_type.name %>
</p>


<%= link_to 'Edit', edit_return_duration_type_path(@return_duration_type) %> |
<%= link_to 'Back', return_duration_types_path %>
