<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @return_category.name %>
</p>


<%= link_to 'Edit', edit_return_category_path(@return_category) %> |
<%= link_to 'Back', return_categories_path %>
