<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @duration_frequency.name %>
</p>


<%= link_to 'Edit', edit_duration_frequency_path(@duration_frequency) %> |
<%= link_to 'Back', duration_frequencies_path %>
