<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @relationship_type.name %>
</p>


<%= link_to 'Edit', edit_relationship_type_path(@relationship_type) %> |
<%= link_to 'Back', relationship_types_path %>
